body{
    background-color: aqua;
}
h1{
    color:red;}
h2{
    color:blue;}
h3:hover{
    color: blue;
    background-color: red;
}
#am:hover{
    color:crimson;
}
input:focus{
    font-size: 20px;
}
li:nth-child(2n){
    background-color: red;
}
li:nth-child(2n+1){
    background-color: navy;
}
li{
    font-size: 20px;
    color: white;
}