body{
    background-color: aqua;
    counter-reset: num;
}
h1{
    color:white;}
h2{
    color:blue;}
h3:hover{
    color: blue;
    background-color: red;
}
#am:hover{
    color:crimson;
}
input:focus{
    font-size: 20px;
}
li:nth-child(2n){
    background-color: red;
}
li:nth-child(2n+1){
    background-color: navy;
}
li{
    font-size: 20px;
    color: white;
}
h1::before{
    content: "Hello " ;
    font-style: italic;
    color:green;
}
p::before{
    counter-increment: num;
    content: "Words " counter(num)" : ";
}
.container{
    background-color: green;
}
div{
    height: 100px;
    weight: 100px;
}
#one{
    background-color: greenyellow;
}
#two{
    background-color: honeydew;
    position: relative;
    left: 20px;
}
#three{
    background-color: hotpink;
}